<% if @post.errors.any? %>
  <div class="alert alert-warning">
    <p>There were errors in your submission:</p>
    <p><%= @post.errors.full_messages.join(", ") %></p>
<% end %>
<%= form_for @post do |f| %>
  <div class="form-group">
    <%= label_tag "Select Category" %>
    <%= select_tag "selected_category", options_for_select(@category.collect {|c| [c.title, c.id]}), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title, "Post Title" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group label_check_boxes">
    <%= f.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name  %>
  </div>
  <div class="panel panel-default">
      <%= f.button "<span class='glyphicon glyphicon-ok'></span>".html_safe, type: "submit", class: "btn btn-success padded" %>

      <span class="padded">Submit your code when you're ready.</span>
  </div>
<% end %>
