<h1>Show Post</h1>
<div class="container">
<h3>Subject:<%= " #{@post.title}" %></h3>
  <div class="well">
      <%= @post.body %>
      <div class="pull-right">
        <% if can? :edit, @post %>
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary"%>
        <% end %>
        <% if can? :destroy, @post %>
          <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <% end %>
      </div>
      <p class="created-by">
        created by<%= " #{@post.user.first_name} #{@post.user.last_name} " %>in<%= " #{@post.created_at}" %></p>
  </div>
<%# LIKES ############################################ %>
<% if user_signed_in? && @post.liked_by?(current_user) %>
  <%= link_to fa_icon("thumbs-up"), post_like_path(@post, @post.like_for(current_user)),
                      method: :delete, class: "icon-big" %>
<% else %>
  <%= link_to fa_icon("thumbs-o-up"), post_likes_path(@post),
                      method: :post, class: "icon-big" %>
<% end %>
Liked: <%= pluralize(@post.likes.count, "time") %>




  <h3>Your Comment</h3>
  <div class="form-group">
    <%= form_for [@post, @comment] do |f| %>
    <div class="input-group">
      <%= f.text_area :body, class: "form-control", placeholder: "Enter your Comment here", aria_describedby: "basic-addon1"%>
      <span class="input-group-addon" id="basic-addon1">
      <%= f.submit class: "btn btn-primary pull-right" %></span>
    </div>
    <% end %>
  </div>
  <% if @post_comments %>
    <h3>All Comments</h3>
      <% @post_comments.each do |comment| %>
      <div class="well">
          <%= comment.body %>
          <div class="pull-right">
            <% if can? :edit, comment %>
              <%= link_to "Edit", edit_post_comment_path(@post, comment),
                                class: "btn btn-primary"%>
            <% end %>
            <% if can? :destroy, comment %>
              <%= link_to "Delete", post_comment_path(@post, comment), method: :delete,
                                data: {confirm: "Are you sure?"}, class: "btn btn-danger"%>
            <% end %>
          </div>
          <p class="created-by">
            created by<%= " #{comment.user.first_name} #{comment.user.last_name} " %>in<%= " #{comment.created_at}" %></p>
      </div>
      <% end %>
  <% end %>
</div>
