<h3>show post</h3>
<h4><%= " #{@post.title}" %></h4>
  <div class="well">
      <% if @post.image.present? %>
      <div align="center" style="background-color:black; margin-bottom: 10px;">
        <%= image_tag @post.image.url(:strip), class: "img-responsive" %>
      </div>
      <% end %>
      <div>
        <%= @post.body %>
      </div>
      <div class="pull-right">
        <% if can? :edit, @post %>
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary"%>
        <% end %>
        <% if can? :destroy, @post %>
          <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <% end %>
      </div>
      <p class="created-by">
        created by<%= " #{@post.user.first_name} #{@post.user.last_name} " %>
                in<%= " #{@post.created_at.in_time_zone('Pacific Time (US & Canada)').strftime('%d.%m.%y at %I:%M%p')}" %></p>

<%# TAGS ############################################# %>
<table width="100%"><tr><td>
<% if @post.tags.any? %>
  Tags:
  <% @post.tags.each do |tag| %>
    <div class="label label-primary"><%= tag.name %></div>
  <% end %>
<% end %>
</td>
<%# LIKES ############################################ %>
<td><div class="pull-right">
<% if (user_signed_in? && @post.user_id != current_user.id) %>
  <% if user_signed_in? && @post.liked_by?(current_user) %>
    <%= link_to fa_icon("thumbs-up"), post_like_path(@post, @post.like_for(current_user)),
                        method: :delete, class: "icon-big" %>
  <% else %>
    <%= link_to fa_icon("thumbs-o-up"), post_likes_path(@post),
                        method: :post, class: "icon-big" %>
  <% end %>
<% end %>
Liked: <%= pluralize(@post.likes.count, "time") %>
</div></td>
</tr></table>
</div>

  <h3>add a comment</h3>
    <%= render "/comments/form" %>
  <% if @post_comments %>
  <h3>comments</h3>
      <div id="comments">
          <% @post_comments.each do |comment| %>
              <%= render "/comments/comment", comment: comment %>
          <% end %>
      </div>
  <% end %>
