<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'external', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="landing-pg">
      <%= link_to "Home", root_path %> |
      <%= link_to "About", about_home_path %> |
      <%= link_to "Posts", posts_path %> |
      <%= link_to "Sign In", new_session_path %>
      <br><%= notice || alert %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
