<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= link_to "Home", root_path %> |
    <%= link_to "About", about_home_path %> |
    <%= link_to "Posts", posts_path %>
    <div class="pull-right">
      <% if user_signed_in? %>
            <%= link_to "Log Out", sessions_path, method: :delete %>
            Hello <%= current_user.first_name %> <%= current_user.last_name %>!
            <%= link_to " Your Favorites", posts_path(:favorites => "Favorite")%>
      <% else %>
            <%= link_to "Sign In", new_session_path %> |
            <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </div>
    <br>
    <%= notice || alert %>
    <%= yield %>
  </div>
</body>
</html>
