<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %> |
<%= link_to "About", about_home_path %> |
<%= link_to "Posts", posts_path %> |
<%= link_to "Comments", comments_path %> |
<br><%= notice || alert %>
<%= yield %>
</body>
</html>
